
  .img_fix{
    height: 238px;
    object-fit: cover;
}
  
.owl-item {
    min-height: 413px;
}
.h_full{
    height: 100%;
}
.img_class {
    width: 200px !important;
    height: 205px !important;
    object-fit: cover;
}